extends ../layout

block content

  .row
    .col-xs-12
      form(action='/posts', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label(for='post_title') Title
          input.form-control(type='text', name='post[title]', id='post_title')
        .form-group
          label.control-label(for='post_body') Body
          textarea.form-control(name='post[body]', id='post_body', rows=10)
        .form-group
          label.control-label(for='post_image') Image
          != cloudinary.uploader.image_upload_tag('post_image')
        .form-group
          button.btn.btn.btn-primary(type='submit') Create Post

